@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --Cor0: #c5ebd6;
    --Cor1: #83e1ad;
    --Cor2: #3ddc84;
    --Cor3: #2fa866;
    --Cor4: #1a5c37;
    --Cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Idroid', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--Cor0);
    font-family: var(--font-padrao);
}

a.externo::after{
    content: "\00A0\1F517";
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
}

header{
    background-image: linear-gradient(to bottom, var(--Cor3), var(--Cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

nav{
    background-color: var(--Cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav > a{
    color: var(--Cor1);
    transition-duration: 0.5s;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    background-color: var(--Cor3);
    color: var(--Cor5);
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
}

main > h1{
    color: var(--Cor4);
    font-family: var(--font-android);
    
}

main > h2{
    font-family: var(--font-android);
    color: var(--Cor4);
    background-image: linear-gradient(to right, var(--Cor1), transparent);
    text-indent: 8px;
}
 
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--Cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--Cor1);
    padding: 2px 6px;
    color: var(--Cor5);
}

main a:hover{
    text-decoration: underline;
    color: var(--Cor4);
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main img.custom{
    max-width: 420px;
    display: block;

}

main > picture{
    width: 100%;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--Cor5);
    margin-bottom: 30px;
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--Cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: var(--Cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside > ul{
    list-style-type: "\2714\00A0";
    list-style-position: inside;
    columns: 2;
}


footer{
    background-color: var(--Cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: var(--Cor1);
}